body {
    margin: 0 auto;
}

/*mobile*/
.container {
    clear: both;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ADD8E6;
    width: 100%;
    height: 50px;
    text-align: center;
}

header h3 {
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: 16pt;
}


#divOne {
    width: 50%;
    background-color: #AAAAAA;
    min-height: 260px;
    padding: 5px;
    order: 1;
}


#divTwo {
    width: 100%;
    background-color: #BBBBBB;
    min-height: 260px;
    padding: 5px;
    order: 3;
}

#divThree {
    width: 50%;
    background-color: #CCCCCC;
    min-height: 260px;
    padding: 5px;
    order: 2;
}

nav {
    background-color: #2F4F4F;
    width: 100%;
    height: 34px;
}

nav > div{
    float: left;
    padding: 5px 10px;
    border-right: 1px solid #101C1C;
}

nav > div > a {
    color: white;
    font-size: 11pt;
}

.content {
    display: flex;
    justify-content: space-between;
}



footer {
    display: flex;
    background-color: #2F4F4F;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}


/*desktop*/
@media only screen and (min-width: 600px) {
    #divOne {
      width: 30%;
      min-height: 500px;
      display: inline-flex;
      order: 1;
    }

    #divTwo {
      width: 40%;
      min-height: 500px;
      display: inline-flex;
      order: 2;
    }

    #divThree {
      width: 30%;
      min-height: 500px;
      display: inline-flex;
      order: 3;
    }
}
