/* Keep footer at bottom */
* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	position: relative;
}

.main-container {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  padding: 25px;
}

/* end of keep footer at bottom */
body {
	background: #aec1b1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

header {
  height: 275px;
}

.text-center {
	text-align: center;
}

footer, header {
  background-image: url(../images/footer.jpg);
}



header p, footer p {
	padding: 24px;
	margin: 0;
}

h1, h2 , h3{
  color: #7a867c;
  font-weight: 300;
  letter-spacing: 1px;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  margin: 0;
}

h3 {
  color: darkcyan;
}

.w3cValidator {
  float: right;
}
.siteInfo {
  color: var(--dark-green);
  float: left;
}

#moodSection ul {
    list-style-type: none;
    overflow: hidden;
}

#moodSection li {
    float: left;
    padding-right: 10px;
}

#moodSection ul li img {
    width: 100px;
}

    * {
      box-sizing: border-box;
    }

    /* Create a column layout with Flexbox */
    .row {
      display: flex;
    }

    /* Left column (menu) */
    .left {
      flex: 20%;
    }

    /* Right column (page content) */
    .right {
      flex: 80%;
    }

    /* Style the navigation menu inside the left column */
    #myMenu {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #myMenu li a {
      text-decoration: none;
      color: blue;
      display: block;
      padding-bottom: 5px;
      font-weight: 300;
      letter-spacing: 1px;
    }

    #myMenu li a:hover {
      color: #c3251d;
      text-decoration: underline;
    }

    .sub-menu {
      padding-left: 60px;
    }
